# dependencies
/node_modules
/.pnp
.pnp.js

# next.js
/.next/
/out/

# runtime data (file-store database & uploaded media)
/.data

# production
/build

# misc
.DS_Store
*.pem
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel
